

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#logo {
    position: relative;
    top: -9px;
}
          
.img-responsive,
.thumbnail>img,
.thumbnail a>img,
.carousel-inner>.item>img,
.carousel-inner>.item>a>img{
    margin: 0px auto;
}










